.lbl-name {
  font-size: 0.7rem;
}

.lbl-value {
  font-size: 1.2rem;
}

.bd-rank {
  height: 1.5em;
  width: 1.5em;
  border-radius: 4px;
  background-color: #2f8bec;
  color: white;
  margin-right: 1em;
}
