.container-na {
  display: flex;
  margin: 0rem 1rem;
  background-color: white;
}

.elem {
  height: 2.6rem;
  margin-right: 12px;
  display: flex;
  padding: 0rem 1rem;
}

.elem:hover {
  cursor: pointer;
  background-color: aliceblue;
}

.elem-p {
  border-bottom: 2px solid #2f8bec;
}

.elem-o {
  border-bottom: 2px solid #006255;
}

.elem-f {
  border-bottom: 2px solid #c92fec;
}

.elem-pred {
  border-bottom: 2px solid #9f06f4;
}

.icn {
  margin-right: 6px;
}

.center-icn {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
